body {

}
.header {
    width: 100%;
    margin: 0 auto;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.nav {
    font-family: "Inter", sans-serif;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    color: black;
    font-size: 15px;
}
.nav>li {
    margin-left: 1.3vw;
}
.nav>li>a {
    text-decoration: none;
    color: inherit;
}
.brand {
    font-family: "Prompt", sans-serif;
    font-size: 31px;
    line-height: 47px;
    text-decoration: none;
    color: inherit;
}
.black_rounded {
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    border-radius: 50%;
}
.black_button {
    color: white;
    background: black;
    box-sizing: border-box;
    display: block;
    padding: 10px 28px;
    border: 0;
    border-radius: 36px;
    cursor: pointer;
    margin-top: -9px;
}
.rr{
    position: relative;
    height: 30vw;
    margin: 0 auto;
    padding-left: 8vw;
    padding-right: 8vw;
    width: 70%;
    max-width: 1203px;
    overflow: hidden;
    background: #5628D2;
    border-radius: 33px;
}	
.rr:before{
    content: "";
    display: block;
    /* padding-top: 3vw; */
}
.illus {
    background: url(imgs/cityscapes.svg);
    background-repeat: no-repeat;
    position: relative;
    display: block;
    left: 10vw;
    padding-left: 37vw;
    top: 11.75vw;
    padding-top: 50vw;
    float: right;
    border-radius: 0px 0px 30px 27px;
}
.title {
    position: relative;
    width: 296px;
    padding-top: 8vw;
    font-family: "Prompt", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.5vw;
    display: flex;
    align-items: center;
    color: white;
}
.subtitle {
    position: relative;
    padding-top: 1vw;
    width: 283px;    
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.35rem;
    line-height: 1.6vw;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.txt_arr {
    position: relative;
    padding-top: 1vw;
    width: 283px;    
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.35rem;
    line-height: 1.6vw;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.txt_arr>a{
    text-decoration: none;
    color: inherit;
}