body {
	background-color: #FFFFFF;
	padding-bottom: 5vw;
}
.header {
	width: 100%;
	margin: 0 auto;
	padding-left: 8vw;
	padding-right: 8vw;
	padding-top: 3vw;
	padding-bottom: 3vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}
.nav {
	font-family: "Inter", sans-serif;
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
	color: black;
	font-size: 15px;
}
.nav>li {
	margin-left: 1.3vw;
}
.nav>li>a {
	text-decoration: none;
	color: inherit;
}
.brand {
	font-family: "Prompt", sans-serif;
	font-size: 31px;
	line-height: 47px;
	text-decoration: none;
	color: inherit;
}
.black_rounded {
	background-color: black;
	color: white;
	border: none;
	text-align: center;
	border-radius: 50%;
}
.black_button {
	color: white;
	background: black;
	box-sizing: border-box;
	display: block;
	padding: 10px 28px;
	border: 0;
	border-radius: 36px;
	cursor: pointer;
	margin-top: -9px;
}
.rr{
	position: relative;
	height: 30vw;
	margin: 0 auto;
	padding-left: 8vw;
	padding-right: 8vw;
	width: 70%;
	max-width: 1203px;
	overflow: hidden;
	background: #5628D2;
	border-radius: 33px;
}	
.rr:before{
	content: "";
	display: block;
	/* padding-top: 3vw; */
}
.title {
	position: relative;
	width: 400px;
	padding-top: 8vw;
	font-family: "Prompt", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 2rem;
	line-height: 2.5vw;
	display: flex;
	align-items: center;
	color: white;
}
.subtitle {
	position: relative;
	padding-top: 1vw;
	width: 293px;    
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.35rem;
	line-height: 1.6vw;
	display: flex;
	align-items: center;
	color: #FFFFFF;
}
.txt_arr {
	position: relative;
	padding-top: 1vw;
	width: 283px;    
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.35rem;
	line-height: 1.6vw;
	display: flex;
	align-items: center;
	color: #FFFFFF;
}
.txt_arr>a{
	text-decoration: none;
	color: inherit;
}
.illus {
	position: relative;
	float: right;
	margin-top: 11.7vw;
	right: -10vw;
	border-radius: 0px 0px 30px 27px;
}
.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.side_content {
	grid-column: span 3;
	padding-left: 7vw;
	padding-top: 3vw;
	text-align: left;
}
.main_content {
	grid-column: span 9;
	padding-right: 7vw;
	padding-top: 3vw;
}
@media screen and (max-width: 768px) {
	.side_content {
	  grid-column: span 4;
	}
	.main_content {
	  grid-column: span 8;
	}
  }
  @media screen and (max-width: 480px) {
	.side_content {
	  grid-column: span 12;
	}
	.main_content {
	  grid-column: span 12;
	}
  }
.content {
	max-width: 215px;
}
.accordion_title {
    padding: 0.5vw;
    padding-right: 50px;
    font-size: 1.2rem;
	color: #333333;
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: bold;
    position: relative;
    cursor: pointer;
}
.accordion_title::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url(imgs/plus.svg) no-repeat center;
    background-size: contain;
    transition: all .4s ease;
}
.open-acc .accordion_title::after {
    transform: rotate(45deg);
}
.accordion_content{
	display: none;
}
.open-acc .accordion_content {
	display: block;
}
.accordion_content>.content_list {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: .9vw;
	padding: 0.5vw;
	line-height: 1.3vw;
	color: #333333;
	list-style-type: none;
}
.content_list>li>a{
	text-decoration: none;
	color: inherit;
}
.search_wrap {
	max-width: 53.4rem;
}
.search_bar {
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	float: left;
  }  
#search_inp {
	width: 90%;
	height: 3rem;
	background: rgba(86, 40, 210, 0.1);
	outline: none;
	border: none;
	border-radius: .5rem;
	padding: 0 3.5rem 0 1.5rem;
	font-size: .7rem;
	color: rgba(51, 51, 51, 0.48);
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.11em;
}
#search_submit {
	width: 3.5rem;
	height: 2.8rem;
	margin-left: -3.5rem;
	background: none;
	border: none;
	outline: none;
}  
#search_submit:hover {
	cursor: pointer;
}
.sort_btn {
	color: white;
	background: black;
	box-sizing: border-box;
	display: block;
	padding: 10px 28px;
	border: 0;
	float: right;
	margin-right: 5vw;
	border-radius: 36px;
	cursor: pointer;
}
.prop_grid {
	grid-column: 2 / span 12;
	display: grid;
	grid-template-columns: repeat(12, minmax(auto, 60px));
	grid-gap: 50px;
} 
.prop_card {
	grid-column-end: span 4;
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	cursor: pointer;
	transition: all 0.2s ease 0s;
}  
.prop_card:hover {
	transform: translateY(-4px);
} 
.prop_image {
	width: 100%;
	padding-top: 56.25%;
	overflow: hidden;
	position: relative;
	border-radius: 18px;
} 
.prop_image img {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}  
.prop_type {
	margin-bottom: 5px;
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1vw;
	line-height: 18px;
	display: flex;
	align-items: center;
	color: #333333;
} 
.prop_addr {
	display: flex;
	align-self: end;
	align-items: left;
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 0.8vw;
	line-height: 12px;
	color: #777777;
}
.more {
	display: flex;
	align-self: end;
	align-items: left;
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 0.9vw;
	line-height: 16px;
	color: #333333;
}
@media only screen and (max-width: 1000px) {
	.prop_card {
	  grid-column-end: span 6;
	}
}
@media only screen and (max-width: 700px) {
	.prop_card {
	  grid-column-end: span 12;
	}
	.sort_btn {
		visibility: hidden;
		display: none;
	}
	.illus {
		display: none;
		visibility: hidden;
	}
}
@media only screen and (max-width: 500px) {
	.prop_grid {
	  grid-column: 2 / span 6;
	  grid-template-columns: repeat(6, 1fr);
	  grid-gap: 20px;
	}
	.prop_card {
	  grid-column-end: span 6;
	}
	.sort_btn {
		visibility: hidden;
		display: none;
	}
	.illus {
		display: none;
		visibility: hidden;
	}
}
  